section {
  margin:2em;
}

h1,h2,h3,h4,h5 {
  margin-left: 0px;
}

td, th {
  text-align:center;
}

/* HOME */
#card_files {
  background-color: #2D8E33;
}

#card_materials {
  background-color: #B43C39;
}

#card_quotes {
  /* background-color: #B47239; */
  background-color: grey;
}

#card_personalspace {
  background-color: grey;
  /* background-color: #236A6D; */
}

/* TEMPLATE */
.pathelement {
    text-decoration:underline;
}

.path-nav {
  margin-top:1%;  margin-bottom:1%;
}

.homesection {
  display:flex;
}

.spacebox {
  width:100%;
  margin:5%;
}

.card_list {
  display:flex;
  /*border:solid black 3px;*/
}

/* FILES */
.searchfile {
  display:flex;
}

.filestable {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

.button_newfile {
  margin:1%;
}

/* showfiles */
.button_br {
  margin:1%;
}

.button_next {
  margin:1em;
}

/* offer */
.smallfield {
  width:40%;
}

.select_suboffer {
  display:none;
}

.justif_doc {
  margin-top:15px;
  margin-bottom:15px;
}

.contrib {
  width:100%;
  margin:1%;
  height:12em;
  border: solid black 2px;
}

.labelcheckbox {
  color:white;
}
